body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: yellow;
}

.feedback-container {
  background-color: white;
  width: 400px;
  height: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.emoji-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 43%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.far {
  margin: 1px;
  transform: translateX(-0px);
  transition: transform 0.2s;
}

.rating-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 43%;
}

.fa-star {
  color: lightgray;
  cursor: pointer;
}

.fa-star.active {
  color: gold;
}
